body {
    margin: 0; 
    width: 100%;
    height: 100%;
    background: #FEF4EA 0% 0% no-repeat padding-box;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}

img{
    position: absolute;
}
.hidden{
    opacity: 0;
}
.logo{
    top: 27.13%;
    left: 50%;
    transform: translateX(-50%);
    width: 28.41%;
    z-index: 1;
}
.R1{
    top: 68.24%;
    left: 50%;
    transform: translateX(-50%);
    width: 26.7%;
    height:2.4%;
    z-index: 1;
    opacity: 0;
}
.R2{
    top: 68.24%;
    left: 50%;
    transform: translateX(-146%);
    z-index: 2;
    opacity: 0;
    background-image:url(./pic/Rectangle2.png);
    background-size:cover;
    width: 9.16%;
    height:2.4%;
    border-radius: 21px;
}
.R1-1{
    animation-duration:0s;
    animation-fill-mode: forwards;
    animation-name: appear;
}
.R2-1{
    animation-duration:0s;
    animation-fill-mode: forwards;
    animation-name: appear;
}
@keyframes appear{
    to{
        opacity: 1;
    }
}
.R2-2{
    animation-duration:0s;
    animation-fill-mode: forwards;
    animation-name: lengthen;
}
@keyframes lengthen{
    to{
        background-image: url(./pic/Rectangle2_1.png);
        background-size:cover;
        left: 50%;
        transform: translateX(-73%);
        width: 18.3%;
        height:2.4%;
        border-radius: 21px;
        opacity: 1;
    }
}
.R2-3{
    animation-duration:0s;
    animation-fill-mode: forwards;
    animation-name: lengthen2;
}
@keyframes lengthen2{
    to{
        background-image: url(./pic/Rectangle2_2.png);
        background-size:cover;
        left: 50%;
        transform: translateX(-50%);
        width: 26.7%;
        height:2.4%;
        border-radius: 21px;
        opacity: 1;
    }
}
.fadeout{
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-name: fadeout;
}

@keyframes fadeout{
    to{
        opacity: 0;
        z-index: 0;
    }
}
.logo-1{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: logo-move;
}

@keyframes logo-move{
    to{
        top: 13.8%;
        width: 23%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.typein{
    width: 30.78%;
    height: 29.26%;
    top: 50.74%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 3;
    opacity: 0;
}
.appellation_input{
    text-align: center;
    cursor: auto;
    border-radius: 71px;
    border: 0px;
    background-color:#564E42;
    background:rgba(0,0,0,0.15);
    font-family: NotoSansCJKtc-Regular;
    font-size: 200%;
    color:#564E42;
    height: 21.52%;
    width: 70%;
    top: 3.8%;
    right: 0px;
    position: absolute;
}
.account_input{
    text-align: center;
    cursor: auto;
    border-radius: 71px;
    border: 0px;
    background-color:#564E42;
    background:rgba(0,0,0,0.15);
    font-family: NotoSansCJKtc-Regular;
    font-size: 200%;
    color:#564E42;
    height: 21.52%;
    width: 70%;
    top: 39.87%;
    right: 0px;
    position: absolute;
}
.password_input{
    text-align: center;
    cursor: auto;
    border-radius: 71px;
    border: 0px;
    background-color:#564E42;
    background:rgba(0,0,0,0.15);
    font-family: NotoSansCJKtc-Regular;
    font-size: 200%;
    color:#564E42;
    height: 21.52%;
    width: 70%;
    top: 75.95%;
    right: 0px;
    position: absolute;
}
.appellation{
    top: -2%;
    width: 22%;
    cursor: default;
}
.account{
    top: 34%;
    width: 22%;
    cursor: default;
}
.password{
    top: 70%;
    width: 22%;
    cursor: default;
}
.typein1{
    animation-duration:2s;
    animation-fill-mode: forwards;
    animation-name: appear;
}
.btn{
    border: 0;
    padding:  0;
    cursor: pointer;
}
.next{
    top: 73.73%;
    left: 156.34%;
    position: absolute;
    width: 35.7%;
}
